nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(8, 8, 87);
  color: white;
  max-height: 10vh;
}
.nav-links {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.link-styles {
  color: rgb(247, 244, 244);
  list-style: none;
  text-underline-position: above;
}
.link-styles:hover {
  color: greenyellow;
}
